/* 
  GENERAL FORMATTING -------------------
*/

.vanish {
    display: none;
}

// Each column's items should have some space
[class*='col-'] > * {
    margin: 1rem;
  }
  
  [class*='col-'].center-mobile > * {
    text-align: left;
  }
  
  // Row Rules
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .col-2of12 {
      width: 16.66%;
    }
  
    .col-3of12 {
      width: 25%;
    }
  
    .col-4of12 {
      width: 33.33%;
    }
  
    .col-6of12 {
      width: 50%;
    }
  
    .col-8of12 {
      width: 66%;
    }
  
    .col-9of12 {
      width: 75%;
    }
  
    .col-12of12 {
      width: 100%;
    }
  }
  
  // Canvas
  .canvas {
    width: 85%;
    margin: 0 auto;
  }
  
  .flex-container.col-4of12 {
    align-items: center;
  }
  
  // Button Formatting
  .button.col-4of12 {
    width: 100%;
    display: block;
    padding: 0.5em 0em;
  }
  
  /* 
    MEDIA QUERIES -------------------
  */
  
  @media(max-width: 73rem) {
    .canvas {
      width: 100%;
      margin-top: 2rem;
    }
  
    body {
      margin: 1.5rem;
    }
  }
  
  // Max canvas width (Tablet)
  @media(max-width: 50rem) {
    .flex-container{
      .col-4of12 {
        width: 50%;
      }
      .col-6of12 {
        width: 100%;
      }
      .col-8of12 {
        width: 100%;
      }
      .col-9of12 {
        width: 100%;
      }
      .col-4of12 {
        width: 100%;
      }
      .col-3of12 {
        width: 50%;
      }
    }
  
    [class*='col-'].center-mobile > * {
      text-align: center;
    }
  }
  
  // Phone-ish layout
  @media(max-width: 32.25rem) {
    .flex-container{
      .col-4of12 {
        width: 100%;
      }    
    }
  }